Автор материала: Юрий Кашницкий (@yorko в Slack ODS). Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

## <center>Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории).**
Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("../data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [9]:
# Ваш код здесь
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [14]:
data[data['native-country'].str.len() > 13]
pd.datetime

<ipython-input-14-795382b8e3d3>:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime

datetime.datetime

In [13]:
data[data['native-country'].str.len() > 13]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
427,23,Private,204653,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,72,Dominican-Republic,<=50K
688,41,Private,195124,Masters,14,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,35,Dominican-Republic,<=50K
1198,18,Private,240747,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,40,Dominican-Republic,<=50K
1565,47,Private,111797,Some-college,10,Never-married,Other-service,Not-in-family,Black,Female,0,0,35,Outlying-US(Guam-USVI-etc),<=50K
1794,31,Private,53042,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,0,0,40,Trinadad&Tobago,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31774,58,Private,202652,HS-grad,9,Separated,Other-service,Unmarried,White,Female,0,0,40,Dominican-Republic,<=50K
31873,28,Private,95566,1st-4th,2,Married-spouse-absent,Other-service,Own-child,Other,Female,0,0,35,Dominican-Republic,<=50K
31919,44,Private,228057,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,Dominican-Republic,<=50K
32359,46,Private,139514,Preschool,1,Married-civ-spouse,Machine-op-inspct,Other-relative,Black,Male,0,0,75,Dominican-Republic,<=50K
32508,45,Private,155093,10th,6,Divorced,Other-service,Not-in-family,Black,Female,0,0,38,Dominican-Republic,<=50K

**2. Каков средний возраст (признак *age*) женщин?**

In [28]:
# Ваш код здесь
data[ data['sex']=='Female' ]['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [38]:
# Ваш код здесь
'{:.2f}%'.format(100 * len(data[data['native-country']=='Germany' ]) / len(data))

'0.00%'

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [21]:
X = data[['age','native-country']].groupby('native-country')['age'].mean()
data[['age','native-country']].groupby('native-country')['age'].mean()[X>40]

native-country
Canada             42.545455
China              42.533333
Cuba               45.768421
England            41.155556
Greece             46.206897
Hungary            49.384615
Italy              46.424658
Poland             43.116667
Portugal           40.297297
Puerto-Rico        40.508772
Scotland           40.416667
Trinadad&Tobago    41.315789
Name: age, dtype: float64

In [16]:
# Ваш код здесь
data[data['salary']=='>50K']['age'].std()

10.519027719851826

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [22]:
# Ваш код здесь
data[data['salary']=='>50K']['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [26]:
# Ваш код здесь
data.groupby(['race','sex'])['age'].describe()
#data.describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [27]:
df2 = data.groupby(['race','sex'])['age'].describe()
df2.index

MultiIndex([('Amer-Indian-Eskimo', 'Female'),
            ('Amer-Indian-Eskimo',   'Male'),
            ('Asian-Pac-Islander', 'Female'),
            ('Asian-Pac-Islander',   'Male'),
            (             'Black', 'Female'),
            (             'Black',   'Male'),
            (             'Other', 'Female'),
            (             'Other',   'Male'),
            (             'White', 'Female'),
            (             'White',   'Male')],
           names=['race', 'sex'])

In [33]:
df2.iloc[4,1]

37.854019292604505

In [34]:
df2.loc[('Black','Female'),'mean']

37.854019292604505

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [61]:
# Ваш код здесь
#data[data['sex'] == 'Male']
data['married'] = data['marital-status'].str.startswith('Married')
detamale = data[data['sex'] == 'Male']
#detamale.groupby('married')['age'].count()
detamale[detamale['salary'] == '>50K'].groupby('married')['age'].count() / detamale.groupby('married')['age'].count()
#data[data['sex'] == 'Male'].groupby(data[data['sex']=='Male']['marital-status'].str.startswith('Married'))['age'].count()

married
False    0.084495
True     0.440514
Name: age, dtype: float64

In [59]:
detamale[detamale['salary'] == '>50K'].groupby('married')['age'].count()

married
False     697
True     5965
Name: age, dtype: int64

In [60]:
np.array([1,2,4])/np.array([1,4,16])

NameError: name 'np' is not defined

In [46]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [71]:
# Ваш код здесь
len(data[(data['hours-per-week'] == data['hours-per-week'].max()) &
         (data['salary'] == '>50K')]) / len(data[data['hours-per-week'] == data['hours-per-week'].max()])

0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [77]:
# Ваш код здесь
%timeit A = data.groupby(['native-country','salary'])['hours-per-week'].mean()

5.46 ms ± 65.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [81]:
%timeit A = data[['native-country','salary', 'hours-per-week']].groupby(['native-country','salary'])['hours-per-week'].mean()

7.11 ms ± 439 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)